$root-node-color: #ffbe0b;
$fixed-node-color: #fb5607;
$proportional-node-color: #ff006e;
$relative-node-color: #8338ec;
$aggregator-node-color: #3a86ff;
$fixed-group-node-color: #00916e;

$save-button-color: #52d1dc;
$reset-button-color: #5e4352;
