.control-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  &:hover {
    transform: translateY(-2px);
  }
  &:active {
    transform: translateY(0);
  }

  &.save {
    background-color: $save-button-color;
    color: white;
    margin-right: 10px;
    &:hover {
      background-color: $save-button-color;
    }
  }

  &.reset {
    background-color: $reset-button-color;
    color: white;
    &:hover {
      background-color: $reset-button-color;
    }
  }
}
