@use "variables" as *;

.node-creator {
  border: 2px solid black;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
  &.rootNode {
    border-color: $root-node-color;
  }
  &.fixedNode {
    border-color: $fixed-node-color;
  }
  &.proportionalNode {
    border-color: $proportional-node-color;
  }
  &.relativeNode {
    border-color: $relative-node-color;
  }
  &.aggregatorNode {
    border-color: $aggregator-node-color;
  }
  &.fixedGroupNode {
    border-color: $fixed-group-node-color;
  }
}
