.icon-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 6px;
  cursor: pointer;
  color: inherit;
  font: inherit;
  outline: none;
}

.icon-button:hover {
  color: #666;
}

.icon-button:active {
  color: red;
}

.no-bullets {
  list-style-type: none;
  border: 1px solid white;
  padding: 2px;
  border-radius: 4px;
  margin: 4px;
}

.no-bullets li {
  margin-bottom: 4px;
}

.input-group {
  display: flex;
  padding: 3px;
  align-items: center;
  gap: 3px;
}

.input-group input {
  flex: 1;
  padding: 4px;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  width: 10px;
}

.input-group button {
  border: none;
  cursor: pointer;
  margin: 0;
}
