@import "variables";

.icon-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 6px;
  cursor: pointer;
  color: inherit;
  font: inherit;
  outline: none;
}

.icon-button:hover {
  color: #666;
}

.icon-button:active {
  color: red;
}

.no-bullets {
  list-style-type: none;
  border: 1px solid white;
  padding: 2px;
  border-radius: 4px;
  margin: 2px 5px 10px 5px;
}

.no-bullets li {
  margin-bottom: 4px;
}

.input-group {
  display: flex;
  gap: 3px;
  margin: 10px 5px;

  &:focus {
    color: $fixed-group-node-color;
  }
}

.fixed-group-child {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;

  margin: 5px;
}

.input-group input {
  padding: 5px;
  border-radius: 4px;
  width: 100%;
  background: inherit;
  color: inherit;
  border: 1px solid white;
  font-weight: bold;

  &:focus {
    color: $fixed-group-node-color;
    outline-color: $fixed-group-node-color;
  }

  &::placeholder{
    color: inherit;
    font-weight: normal;
    font-style: italic;
  }
}

.react-flow__node-fixedGroupNode.selectable.selected input {
  border: 1px solid $fixed-group-node-color;
}

.input-group button {
  background-color: $fixed-group-node-color;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background-color: white;
    color: $fixed-group-node-color;
  }
}
