.react-flow .react-flow__handle {
  width: 10px;
  height: 10px;
}

.react-flow .react-flow__handle-top {
  background-color: rgba(255, 255, 255, 0.85);
  border-color: transparent;
  top: -6px;
}

.react-flow .react-flow__handle-bottom {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: transparent;
  bottom: -6px;
}
